body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #A22522;
  color: white;
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.auth-buttons .btn {
  background-color: #2A2B2E;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 14px;
}

.auth-buttons .btn:hover {
  background-color: #2A2B2E;
}

main {
  padding: 40px 20px;
  text-align: center;
}

.intro {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
  background-color: #A22522;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
